@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --heroui-primary: 330 52% 11%;


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



@font-face {
  font-family: 'poppins';
  src: url('/fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal
}


@theme {
  --drop-shadow-orden: 0px 4px 5px rgba(0, 0, 0, 0.10);
  --font-poppins: 'poppins', sans-serif;
  /* --color-primary: #290D1B; */
}

body {
  /* background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; */

  /* font-family: 'poppins', sans-serif; */
  /* font-weight: 400; */
  /* overflow: hidden; */
  /* height: 100vh; */
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f0e6d1, radial-gradient(135.4% 93.48% at 61.18% 32.64%, rgba(250, 245, 241, 0) 18.23%, #e7dadc 65.1%, #dbc7ca 71.88%);
}