@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --heroui-primary: 330 52% 11%; /* 290D1B */
  --heroui-dark: 0 0% 24%; /* 3D3D3D */


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



@font-face {
  font-family: 'poppins';
  src: url('/Poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'poppins';
  src: url('/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal
}


@font-face {
  font-family: 'poppins';
  src: url('/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal
}




@theme{
  --drop-shadow-orden: 0px 4px 5px rgba(0, 0, 0, 0.10);
  --font-poppins: 'poppins', sans-serif;
  /* --color-primary: #290D1B; */
}

body {
  /* background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; */

  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  /* overflow: hidden; */
    min-height: 100vh;
    height: auto;
    margin: 0;
    padding: 30px 20px;
  background: 
  linear-gradient(to right,
    rgba(242, 220, 230, 0.9) 0%,    /* rosa perlado a la izquierda */
    rgba(245, 225, 220, 0.85) 50%,
    rgba(250, 235, 210, 0.8) 70%,   /* transición suave */
    rgba(255, 240, 205, 0.85) 90%,
    rgba(255, 245, 210, 0.9) 100%   /* dorado cálido a la derecha */
  );
background-blend-mode: soft-light;





}

@media (min-width: 768px) {
  body {
    padding: 30px 50px;
  }
}

@media (min-width: 1200px) {
  body {
    padding: 30px 150px;
  }
}

